body{
    font-family:'Samsung One'; 
}

#userGesture{
    margin:0em;
    padding: 1.5em;
    background-color: rgba(255, 255, 255, .95);
    color:black;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 100;
    height: 100%;
    width: 100%;
}

.flagmenu{
    margin: .5em;
    height:2em;
    width: 2em;
    cursor: pointer;
}

#flagcontainer{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.sponsors{
    max-width: 18em;
}

#worldMap{
    max-width: 18em;
    margin:auto;
}