body{
    font-family:'Samsung One'; 
}

#userGesture{
    margin:0em;
    padding: 2em;
}

#splashBody{
    background-color: rgba(0, 0, 0, .8);
    color:white;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 100;
    height: 100%;
    width: 100%;
}

.flagmenu{
    margin: 1em;
    height:4em;
    width: 6em;
    cursor: pointer;
}

#flagcontainer{
    display: flex;
    flex-direction: row;
    flex-flow: no-wrap;
    overflow:scroll;
    margin: 2em;
}

.sponsors{
    max-width: 10em;
    margin:1em;
}

#worldMap{
    max-width: 150px;
    margin:auto;
}

#splashTitle{
    max-width: 20em;
}